@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.part1_btns button {
  font-weight: 400;
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  color: #2f2f2f;
  padding: 9px 16px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.btn2 {
  background: #f3f3f3;
  color: black;
  padding: 5px 10px;
  transition: 0.8s;
  border-radius: 123px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}
.btn2:hover {
  transform: scale(0.8);
}
.help1 {
  box-shadow: 0 3px 17px 0 rgba(43, 123, 211, 0.06);
  background: #fefeff;
  border-radius: 10px;
  padding: 25px;
}
label {
  font-weight: 400;
  font-size: 18px;
  color: #656565;
}
@media (min-width: 1450px) {
  .container {
    width: 1250px;
    margin: 0 auto;
  }
}
.btn {
  border: 1px solid #3a85f4;
  border-radius: 123px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #3a85f4;
  background: #fff;
  padding: 8px 15px;
  transition: 0.8s;
}
.btn:hover {
  transform: scale(0.8);
}
.btn1 {
  color: white;
  background: #3a85f4;
}
.showcase {
  background: linear-gradient(110deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.works,
.help {
  background: #f9fbff;
}
@media (max-width: 1024px) {
  .links {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(110deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.8;
    z-index: 999;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
